<footer class="bg-info text-center">
  <div class="container">
    <div class="row">
      <div class="col mb-5 mb-lg-0">
        <h2 class="text-center text-uppercase  mb-0 mt-5">Find me here</h2>
        <div class="divider-custom">
          <div class="divider-custom-line "></div>
          <div><img src="../../../../../assets/images/star.png" width="35" /></div>
          <div class="divider-custom-line "></div>
        </div>
        <div class="row">
          <div class="col icon-div d-flex justify-content-around">
              <a class="btn btn-outline-light" href="#"
              ><img src="../../../../../assets/social-icons/facebook.png" width="52" alt="facebook-icon"></a
            ><a class="btn btn-outline-light" href="#"
              ><img src="../../../../../assets/social-icons/twitter.png"  width="52" alt="twitter-icon"></a
            ><a class="btn btn-outline-light" href="#"
              ><img src="../../../../../assets/social-icons/linkedin.png"  width="52" alt="linkedin-icon"></a
            ><a class="btn btn-outline-light" href="#"
              ><img src="../../../../../assets/social-icons/github.png"  width="52" alt="github-icon"></a>
          </div>
        </div>

      </div>
    </div>
  </div>
</footer>
<div class="copyright py-4 bg-dark text-center text-white">
    <div class="container">Copyright &copy; Bootstarp Practice : Darshan Vaghela - 2020</div>
</div>
