<!-- here, navbar-expand-* class is important bcuz it's require to show nav items -->
<nav class="navbar navbar-expand-sm bg-info text-uppercase navbar-light fixed-top" id="main-navbar">
  <div class="container">
      <a class="navbar-brand" routerLink="/home">
        <img src="../../../../../assets/images/work.png" alt="portfolio" width="60" height="60">
      </a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#nav-items" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="nav-items">
        <!-- to align items at right use class ml-auto -->
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link rounded " href="#portfolio">Portfolio</a>
          <a class="nav-item nav-link rounded " href="#about">About</a>
          <a class="nav-item nav-link rounded " href="#contact">Contact</a>
        </div>
      </div>
  </div>

</nav>
<header class="head text-white text-center">
    <div class="container align-items-center ">
        <img class="head-avatar mb-5" src="../../../../../assets/images/person.png" alt="user-image" />
        <h1 class="heading text-uppercase mb-3">Vaghela darshan vijaybhai</h1>
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div><img src="../../../../../assets/images/star.png" width="35"></div>
            <div class="divider-custom-line"></div>
        </div>
        <p class="sub-heading font-weight-light mb-0">Junior Software Developer - Solution Analysts</p>
    </div>
</header>
